---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hi, I'm Sebastian. My professional path led me from the stove to web development, where I
			found my true passion. As a frontend developer I specialise in templating and implementing
			designs. I have a lot of experience with the CMS TYPO3 and Fluid Templates. My skills were
			particularly challenged in a large project where I led an agile team as Scrum Master. This
			experience taught me the importance of flexibility in the dynamic world of web development. In
			addition to my culinary skills in the kitchen, I enjoy running and immersing myself in the
			world of role-playing games. These hobbies not only provide me with balance, but also develop
			my creativity and problem-solving skills, which I use in my work.
		</p>
	</div>
</section>
